In [55]:
import pandas as pd

- read the CSV file and make ID the index column

In [56]:
data_frame = pd.read_csv('../data/auto.csv', index_col='ID')
data_frame

        CarNumber    Make_n_model  Refund    Fines  History
ID
0    Y163O8161RUS      Ford Focus     2.0   3200.0      NaN
1     E432XX77RUS    Toyota Camry     1.0   6500.0      NaN
2     7184TT36RUS      Ford Focus     1.0   2100.0      NaN
3    X582HE161RUS      Ford Focus     2.0   2000.0      NaN
4    E34877152RUS      Ford Focus     2.0   6100.0      NaN
..            ...             ...     ...      ...      ...
926  Y163O8161RUS      Ford Focus     2.0   1600.0      NaN
927  M0309X197RUS      Ford Focus     1.0  22300.0      NaN
928  O673E8197RUS      Ford Focus     2.0    600.0      NaN
929  8610T8154RUS      Ford Focus     1.0   2000.0      NaN
930  H419XE197RUS  Toyota Corolla     2.0      NaN      2.0

[931 rows x 5 columns]

- count the number of observations using the method count()

In [57]:
data_frame.count()

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

- drop the duplicates, taking into account only the following columns: CarNumber, Make_n_model, Fines
    - between the two equal observations, you need to choose the last
    - check the number of observations again

In [58]:
data_frame = data_frame.drop_duplicates(subset=['CarNumber', 'Make_n_model', 'Fines'], keep='last')
data_frame.count()

CarNumber       725
Make_n_model    725
Refund          713
Fines           665
History          65
dtype: int64

- check how many values are missing from each column

In [59]:

data_frame.isnull().sum()

CarNumber         0
Make_n_model      0
Refund           12
Fines            60
History         660
dtype: int64

- drop all the columns with over 500 missing values using the argument thresh
- check how many missing values are in each column

In [60]:
data_frame = data_frame.dropna(axis=1, thresh=500)
data_frame.isnull().sum()

CarNumber        0
Make_n_model     0
Refund          12
Fines           60
dtype: int64

- replace all the missing values in the Refund column with the previous value in that column for that cell, use the argument method, check how many values are missing from each column

In [61]:
data_frame.Refund.fillna(method='ffill', inplace=True)
data_frame.isnull().sum()

CarNumber        0
Make_n_model     0
Refund           0
Fines           60
dtype: int64

- replace all the missing values in the Fines column with the mean value of this column (exclude NA/null values when computing the mean value), check how many values are missing from each column

In [62]:
data_frame.Fines.fillna(data_frame.Fines.mean(), inplace=True)
data_frame.isnull().sum()

CarNumber       0
Make_n_model    0
Refund          0
Fines           0
dtype: int64

- split and parse the make and model
    - use the method apply both for splitting and for extracting the values to the new columns Make and Model
    - drop the column Make_n_model

In [63]:
data_frame['Make'] = data_frame.Make_n_model.apply(lambda row: row.split()[0])
data_frame['Model'] = data_frame.Make_n_model.apply(lambda row: row.split()[1] if len(row.split()) == 2 else None)
data_frame.drop('Make_n_model', axis=1, inplace=True)
data_frame.head()

       CarNumber  Refund   Fines    Make  Model
ID
0   Y163O8161RUS     2.0  3200.0    Ford  Focus
1    E432XX77RUS     1.0  6500.0  Toyota  Camry
2    7184TT36RUS     1.0  2100.0    Ford  Focus
3   X582HE161RUS     2.0  2000.0    Ford  Focus
5   92918M178RUS     1.0  5700.0    Ford  Focus

- save the dataframe in the JSON file auto.json

In [64]:
data_frame.to_json('../data/auto.json', orient='records', double_precision=1)